<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>Test</servlet-name>
    <servlet-class>com.octest.servlets.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/bonjour</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Accueil</servlet-name>
    <servlet-class>com.octest.servlets.Accueil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accueil</servlet-name>
    <url-pattern>/acc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetNavire</servlet-name>
    <servlet-class>com.octest.servlets.GetNavire</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetNavire</servlet-name>
    <url-pattern>/navire</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetMouvement</servlet-name>
    <servlet-class>com.octest.servlets.GetMouvement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMouvement</servlet-name>
    <url-pattern>/mouvement</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Traitement_navire</servlet-name>
    <servlet-class>com.octest.servlets.Traitement_navire</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Traitement_navire</servlet-name>
    <url-pattern>/discussion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Traitement_mouvement</servlet-name>
    <servlet-class>com.octest.servlets.Traitement_mouvement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Traitement_mouvement</servlet-name>
    <url-pattern>/traitement</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <servlet-name>GetEscale</servlet-name>
    <servlet-class>com.octest.servlets.GetEscale</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEscale</servlet-name>
    <url-pattern>/escale</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Traitement_escale</servlet-name>
    <servlet-class>com.octest.servlets.Traitement_escale</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Traitement_escale</servlet-name>
    <url-pattern>/traitement_escale</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Traitement_bon</servlet-name>
    <servlet-class>com.octest.servlets.Traitement_bon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Traitement_bon</servlet-name>
    <url-pattern>/traitement_bon</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetBon</servlet-name>
    <servlet-class>com.octest.servlets.GetBon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBon</servlet-name>
    <url-pattern>/bon</url-pattern>
  </servlet-mapping>
</web-app>